<section class="categories-section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Категории товаров</h2>
      <a routerLink="/catalog" class="section-link">
        Все категории
        <svg lucideArrowRight size="16" strokeWidth="2.5"></svg>
      </a>
    </div>

    <div class="categories-grid">
      @if (loading()) {
      @for (s of skeletonArray; track $index) {
      <div class="category-card skeleton-card">
        <div class="cat-icon-wrapper skeleton-icon"></div>
        <span class="cat-label skeleton-text w-80"></span>
        <span class="cat-count skeleton-text w-50"></span>
      </div>
      }
      }
      @else if (error()) {
      <div class="error-message">{{ error() }}</div>
      }
      @else {
      @for (cat of categories(); track cat.id) {
      <a [routerLink]="['/catalog', cat.slug]" class="category-card">

        <div class="cat-icon-wrapper">
          <ng-container *ngComponentOutlet="getIconComponent(cat); inputs: { size: 28, strokeWidth: 1.8 }"></ng-container>
        </div>

        <span class="cat-label">{{ cat.name }}</span>
        <span class="cat-count">{{ cat.productsCount }} товаров</span>
      </a>
      }
      }
    </div>
  </div>
</section>
