<section class="products-section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title" [translate]="'HOME.BESTSELLERS.TEXT'">Хиты продаж</h2>
      <a routerLink="/catalog/best-sellers" class="section-link">
        <span [translate]="'HOME.BESTSELLERS.SHOW'">Смотреть все</span>
        <svg lucideArrowRight size="16" strokeWidth="2.5"></svg>
      </a>
    </div>

    <div class="products-grid">
      @if (loading()) {
      @for (s of skeletonArray; track $index) {
      <div class="product-card skeleton-card">
        <div class="skeleton-image"></div>
        <div class="skeleton-info">
          <div class="skeleton-text w-30"></div>
          <div class="skeleton-text w-80"></div>
          <div class="skeleton-text w-50"></div>
          <div class="skeleton-btn"></div>
        </div>
      </div>
      }
      }
      @else if (error()) {
      <div class="error-message">{{ error() }}</div>
      }
      @else {
      @for (product of products(); track product.id) {
      <app-product-card [product]="product"></app-product-card>
      }
      }
    </div>
  </div>
</section>
